{% extends "_layout.twig" %}

{% block content %}

    <section class="homeArticles">

        <div class="homeHeader">
            <div class="homeImages homeImage1"></div>
            <h1> {{home.header1}}</h1>
            <div class="homeImages homeImage2"></div>
        </div>

        <article class="homeArticle1">
            <div class="groups group1">
                {{home.onsAssortiment}}
                <a href="{{siteUrl}}drinks" class="button">Bekijk al onze dranken hier</a>
            </div>
            <div class="homeImage3 homeImages"></div>
        </article>
        <article class="homeArticle2">
            <div class="groups group1">
                {{home.enkelAlcohol}}
                <a href="{{siteUrl}}drinks" class="button">Bekijk al onze dranken hier</a>
            </div>
            <div class="homeImage4 homeImages"></div>
        </article>
        <article class="homeArticle3">
            <div class="groups group1">
                {{home.whatWeAreAllAbout}}
                <a href="{{siteUrl}}aboutUs" class="button">Get to know us</a>
            </div>
            <div class="homeImage5 homeImages"></div>

        </article>
        
    </section>

{% endblock %}
